.InputfieldTrumbowyg .trumbowyg-button-pane li {
    margin: 0;
}

.InputfieldTrumbowyg .trumbowyg-box,
.InputfieldTrumbowyg .trumbowyg-editor {
    width: 100%;
}

.InputfieldTrumbowyg .trumbowyg-fullscreen {
    z-index: 110 !important;
}